/*
    I started with the css reset below and added
    on top of it
*/

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    text-align: center;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  .header {
    font-size: clamp(1.4rem, 4.0vw, 4.5rem);
  }
  .img-container {
    display: flex;
    justify-content: center
  }

  /* #banner-img {
    max-height: 60vh;
  } */

  .big-photo-frame {
    width: 100vw;
    height: 30vw;
    overflow: hidden;
    object-position: center bottom;
  }